body {
  background-image: url("assets/diagonal-squares.png");
}
#scoresLink {
  color: rgb(252, 151, 252);
  font-weight: bold;
  font-size: 25px;
}
#scoresLink:hover {
  color: orange;
}
h1 {
  color: white;
  font-weight: bold;
  font-size: 50px;
}
#main {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 700px;
  margin: auto;
  height: 95%;
  text-align: center;
  line-height: 40px;
}
header {
  display: flex;
  justify-content: space-between;
}
#time {
  color: white;
  font-size: 50px;
}
.question {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: orange;
  font-weight:bold;
  font-size: 50px;
  text-align: center;
  line-height: 75px;
}
.choice {
  color: white;
  font-size: 40px;
  text-align: left;
  cursor: pointer;
}
.qDiv{
  display: block;
  position: static;
}

.choiceList {
  position: relative;
  line-height: 75px;
}
.correct {
  position: relative;
  font-size: 50px;
  color: hotpink;
}
.incorrect {
  position: relative;
  font-size: 50px;
  color: rgb(144, 207, 48);
  line-height: 75px;
}

p {
  color: white;
  font-size: 25px;
  margin: 0;
  padding-bottom: 25px;
}

button {
  display: flex;
  justify-content: center;
  font-size: 50px;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color: orange;
  border-radius: 5%;
  box-shadow: 0 2px #999;
  margin-bottom: 40px;
}

button:hover {
  background-color: rgb(196, 135, 21);
}

button:active {
  background-color: darkgoldenrod;
  box-shadow: 5px lightslategray;
  transform: translateY(4px);
}

.score {
  margin-top: 100px;
  font-weight: bold;
  font-size: 100px;
  color: rgb(235, 124, 235);
  line-height: 75px;
  margin-bottom: 50px;
}

.textarea {
  width: 300px;
  font-size: 25px;
  height: 70px;
}
